{% for block in blocks %}
  {% if block.type == "heading" %}
    {% if block.level == 1 %}
      <h1>{{ block.text }}</h1>
    {% elif block.level == 2 %}
      <h2>{{ block.text }}</h2>
    {% elif block.level == 3 %}
      <h3>{{ block.text }}</h3>
    {% else %}
      <h4>{{ block.text }}</h4>
    {% endif %}
  {% elif block.type == "paragraph" %}
    <p>{{ block.text }}</p>
  {% elif block.type == "quote" %}
    <blockquote>{{ block.text }}</blockquote>
  {% elif block.type == "list" %}
    <ul>
      {% for item in block.items %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  {% elif block.type == "code" %}
    <pre><code>{{ block.text }}</code></pre>
  {% elif block.type == "divider" %}
    <hr class="tb-divider">
  {% endif %}
{% endfor %}
